body {
  background-color: #00ff00;
  font-family: 'Nunito', sans-serif;
}

header {
	background-color: red;
	margin: auto;
}

.button {
	display: inline;
	border: 1px solid black;
	text-decoration: none;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
  color: #000000;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}